.App {
  width: 50%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  color: white;
  margin-bottom: 1rem;
  font-family: 'Space Mono', monospace;
  border: 1px solid red;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  position: fixed;
  background: #2c2c2c;
  font-size: 2em;
}
/* write your parent styles in here for your App.js */
