.character-list {
  width: 50%;
  margin-top: 5rem;
}
.character-card {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  background: #2c2c2c;
  font-size: 1rem;
  min-width: 300px;
}
.individual-list {
  width: 100%;
  background: #4f4f4f;
  border-radius: 0 0 10px 10px;
}
.character-name {
  width: 84%;
}
